---
import Layout from '../../layouts/BlogPost.astro';
import GlowLineSeparator from '@/components/ui/separator/GlowLineSeparator.astro';
const pageTitle = '关于我';
const pageDescription = '了解我的背景和软件开发方法。';
---

<Layout title={pageTitle} description={pageDescription} pubDate={new Date()} showHeader={false}>
  <p>
    我喜欢在日常开发中创建有趣且实用的工具。如果你有想法想交流，随时联系我。
  </p>
  <p>
    联系方式：
  </p>
  <p>
    微信：yhjbox66
  </p>
  <GlowLineSeparator />

</Layout>